* {
	margin: 0;
	font-family: "Poppins", sans-serif;
}

html {
	color-scheme: light dark;
}

:root {
	--PI: 3.14;
	--fSize: clamp(.75rem, 2vw, 1.25rem);
	--outline: #aaa1;
	--duration: 4s;

	@media (prefers-color-scheme: light) {
		--outline: #1111;
	}
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	font-size: var(--fSize);
	gap: 2rem;

	& > * {
		max-width: clamp(10rem, 80%, 40rem);
		margin-inline: auto;
	}
}

h1 {
	font-size: clamp(1.5rem, 5vw, 2.5rem);
	text-align: center;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 0;
		left: 0;
		background: currentColor;
	}

	margin-bottom: 2rem;
}

.btn {
	--fSize: clamp(1rem, 5vw, 2.5rem);
	--paddingBlock: .5rem;
	--paddingInline: .5rem;
	--width: calc(var(--desiredW) + 2 * var(--paddingInline) + 1px);
	--height: calc(var(--fSize) * 1.5 + 2 * var(--paddingBlock));
	--borr: calc(var(--height) / 2);
	width: var(--width);
	height: var(--height);
	overflow: hidden;
	display: grid;
	margin: 2rem auto;
	place-content: center;
	text-align: center;
	position: relative;
	border-radius: var(--borr);
	font-size: var(--fSize);
	--dasharray: calc((2 * var(--width) + 2 * var(--PI) * var(--borr) - 4 * var(--borr)));

	&>* {
		grid-column: 1 / -1;
		grid-row: 1 / -1;
		align-self: center;
	}

	&:hover {
		cursor: pointer;
		
		& rect:last-child {
			animation-play-state: paused;
		}
	}
}

svg {
	position: relative;
	width: var(--width);
	height: var(--height);

	&>rect {
		width: var(--width);
		height: 100%;
		stroke-dasharray: var(--dasharray);
		ry: var(--borr);
	}

	&>rect:last-child {
		stroke-dashoffset: var(--dasharray);
	}

	.play &>rect:last-child {
		animation: bringIt var(--duration) ease-in-out forwards;
		filter: drop-shadow(0 0 2px var(--brand));
	}
}

@keyframes bringIt {
	to {
		stroke-dashoffset: 0;
	}
}

a {
	text-decoration: none;
	position: relative;
	color: #0e6173;

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 0;
		left: 0;
		background: currentColor;
		transform: scaleX(0);
		transform-origin: right;
		transition: transform .3s ease-in-out;
	}

	@media (prefers-color-scheme: dark) {
		color: #00a8ff;
	}

	&:hover::before {
		transform: scaleX(1);
		transform-origin: left;
	}
}